<p><%= t("devise.mailer.reset_password_instructions.reset_password_explanation") %></p>
<p><%= t("devise.mailer.reset_password_instructions.reset_password_explanation_2") %></p>

<p><%= link_to "#{Settings.frontend[:base_url]}/password_reset?token=#{@token}", "#{Settings.frontend[:base_url]}/password_reset?token=#{@token}" %></p>

<p><%= t("devise.mailer.reset_password_instructions.please_ignore") %></p>
<p><%= t("devise.mailer.reset_password_instructions.wont_change") %></p>
