<p><%= t("devise.mailer.reset_password_instructions.title", name: @resource.email) %></p>

<p><%= t("devise.mailer.reset_password_instructions.reset_password_explanation") %></p>

<p><%= link_to t("devise.mailer.reset_password_instructions.reset_password_link"), "https://yourfrontend.com?token=#{@token}" %></p>

<p><%= t("devise.mailer.reset_password_instructions.please_ignore") %></p>
<p><%= t("devise.mailer.reset_password_instructions.wont_change") %></p>
